<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhmtl1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhmtl">
   <head>
      <title>Welcome to The Boot Closet&trade;</title>
      <link rel="stylesheet" type="text/css" href="[% c.uri_for( '/css', 'boot.closet.css' ) %]">
      <script src="[% c.uri_for('/js/jquery.js') %]"></script>
      [% IF javascript %]
      <script src="[% c.uri_for('/js', javascript) %]"></script>
      [% END %]
   </head>

   <body id="bootCloset3">
     <img id="banner" src="/img/boot.closet.branding.png"/>

      [% content %]

   </body>
</html>
